@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #C58241;
  font-family: "Ubuntu","Roboto", "Montserrat", serif;
}
h1 {
  padding: 5%;
  font-size: 8vw;
  text-align: center;
  background-color: #DA8E46;
}

p {
  font-size: 6vw;
  padding: 3% 11%;
  text-align: center;
}


main ol li{

  margin: 3vh auto;
  text-align: center;

}

form {
  background-color: #FB9E46;
  padding: 3.5%;
  margin: 5%;
  font-size: 4vh;
}

main input{
  border: none;
  outline: none;
}

main input[type="checkbox"]{
  width: 3vw;
  height: 3vw;
  background: #eee;
}

main input[type="submit"]{
  font-size: 5vh;
  padding: 2%;
  border: none;
}

main input[type="submit"]:hover{
  font-size: 5vh;
  padding: 2%;
  background-color: gray;
  color: silver;
}
