@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  padding: 5%;
  font-size: 3vh;
  font-family: "Ubuntu","Roboto", "Montserrat", serif;

}

h1 {
  padding: 3%;
  font-size: 6vh;
  text-align: center ;
}

p {
  padding: 5%;
  margin: 5%;
  background-color: silver;
}

main {
  padding: 5%;
}


main {
  padding: 10%;
  margin: 1%;
}

main ol li{

  margin: 3vh 0;

}

main input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
  outline: none;
}
main input:focus {
  outline: none;
}

main input[type="checkbox"]{
  width: 2vh;
  height: 2vh;
  background: #eee;
  appearance: none;
  border: none;
}

main input[type="checkbox"]:checked{
  width: 2vh;
  height: 2vh;
  background: black;
  appearance: none;
  border: none;
}

main input[type="submit"]{
  font-family: "Ubuntu", serif;
  padding: 2%;
}
main input[type="submit"]:focus{
  font-family: "Ubuntu","Roboto", "Montserrat", serif;
  padding: 2%;
  color: silver;
}